.container {
    background: linear-gradient(to bottom, #000000, #000000, #000000, #000000, #000000, #000000, #000000,#000000,#000000, #410096, #b984ff);
    height: 100vh;
    width: 100%;
    color: white;
    display: flex;
    flex-wrap: wrap;
    gap: 10rem;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

.container img {
    padding-top: 5vh;
    height: 55%;
    width: auto;
    padding-left: 15vh;
}

.iamvivek {
    padding-top: 40vh;
    font-size: 6vh;
    font-weight: 600;
    margin-bottom: 3vh;
}

.text {
    width: 45%;
    padding-right: 8vh;
    font-size: 3.5vh;
    font-weight: 400;
}

.intro {
    font-style: italic;
}