.title {
    font-size: 5vh;
    font-weight: 700;
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8vh;
    border-radius: 20px;
    border: 5px solid #b31cff;
    color: #8100c1;
    text-align: center;
}

.wrapper img {
    height: 20vh;
    width: auto;
}

.wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1vh;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.about-text {
    align-self: flex-start;
    font-size: 3vh;
    color: #8100c1;
    width: 70%;
}

@media (max-width: 1200px) {
    .title {
        font-size: 200%;
        border-width: 5px;
    }

    .about-text {
        font-size: 2.5vh;
        width: 50%;
    }

    .wrapper img {
        height: 50vh;
        width: auto;
    }
}

@media (max-width: 1024px) {
    .wrapper {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .title {
        font-size: 150%;
        width: 25%;
        border-width: 5px;
    }

    .about-text {
        font-size: 2.4vh;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    .wrapper img {
        height: 40vh;
        width: auto;
    }
}