.Navbar {
    color: white;
    position: fixed; /* Makes the navbar static */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    padding-top: 3vh;
    padding-left: 8vh;
    padding-right: 8vh;
    padding-bottom: 3vh;
}

.solid {
    background-color: #000000;
}

.name {
    font-size: 5vh;
    font-weight: bolder;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: 4vh;
}

ul {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
}

.nav-links li:hover {
    color: #6b3e8b;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 2px 0;
    transition: 0.2s;
}

.hamburger.active .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger.active .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }

@media (max-width: 1200px) {

    .Navbar {
        padding-left: 6vh;
        padding-right: 6vh;
    }

    .hamburger {
        display: flex;
        justify-content: center;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: #000000;
        padding-left: 0;
        position: fixed;
        padding-top:20%;
        /* top: 120px; */
        left: 0;
        font-size: 3vh;
    }

    .name {
        font-size: 4vh;
    }

    .nav-links.active {
        display: flex;
    }
}

@media (max-width: 430px) {
    .Navbar {
        padding-left: 4vh;
        padding-right: 4vh;
    }

    .bar {
        height: 3.5px;
        margin: 2px 0;
    }

    .name {
        font-size: 3vh;
    }
}